


<div class="birthday-datepicker">
    <div ng-show="infoPopup" class="ui-datepicker" id="calendar-modal" tabindex="-1" ><!--ng-blur="infopopup=false"-->
    <div class="inner-calendar" >
        <div class="years" ng-bind="chosenYear" ng-click="yearpopup=true"></div>
        <div class="year-popup" ng-show="yearpopup">
            <ul>
                <li ng-repeat="year in availlableYears" ng-click="chooseyear(year)">{{year}}</li>
                
            </ul>
        </div>
        
        <div class="month"><span ng-click="prevmonth()" class="arrow">&#8592;</span><span ng-click="monthpopup()" ng-bind="monthNames[chosenMonth]"></span><span ng-click="nextmonth()" class="arrow">&#8594;</span></div>
        <div class="day">
            <div class="single-day" ng-repeat="day in dayNamesShort track by $index" ng-click="">{{day}}</div>
            <div class="single-day" ng-repeat="day in availlableDays track by $index" ng-click="chooseday(day)">{{day}}</div>
        </div>
        
    </div>
    <!--<div ng-click="infopopup=false">close</div>-->
</div>
</div>